<!-- index.html -->
{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }

        .container {
            padding: 50px;
        }

        h1 {
            color: #555;
        }

        p {
            color: #777;
        }

        .button {
            background-color: #0074e4;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
        }
    </style>

	<body>
    <div class="container">
		<h1>EC Annotation Web Tool</h1>
        <!-- {{hello}} -->
		<p>這是一個針對心臟超音波影像的標註網頁應用程式，旨在節省標記超音波心動圖所需的時間，提高標記的效率。。</p>
		<a href="/tasks" class="button">開始標記</a>   
		<a href="/tutorial" class="button">操作說明</a>
    </div>
		
	</body>


</div>
<br>
{% endblock content %}
