<!-- index.html -->
{% extends 'base.html' %}
{% block title %}
    Tutorial
{% endblock title %}
{% block content %}
    {% load static %}

    <link rel="stylesheet"
          href="{% static 'annotate/css/tutorial.css' %}"
          type="text/css"
          media="all">

    <body>
        <div class="container">
            <div class="row justify-content-center">
				<div class="col-8">
					<h1 class="">登入與Tasks</h1>
					<ul>
						<li><a href="#login">登入</a></li>
						<li><a href="#tasks">Tasks</a></li>
					</ul>
					<br>
				
                    <h2 id="login" class="anchor">登入</h2>
					
                    <p>因為本網站涵蓋了與研究相關的資料，故需成為本網站的註冊使用者，方可存取相關資訊。只需點擊下圖中紅色箭頭的部分，即可進入本網站進行影像標記。</p>
                    <br>
                    <img src="{% static 'annotate/images/Pasted-image-20231113155605.png' %}"
                         alt="登入"
                         width="600">
                    <br>
                    <br>
                    <h2 id="tasks" class="anchor">Tasks</h2>
                    <ol>
                        <li>登入之後，點選左上角的「Task」即可顯示所有的標記任務。</li>
                        <br>
                        <img src="{% static 'annotate/images/Pasted-image-20231113161233.png' %}"
                             alt="Tasks"
                             width="600">
                        <br>
                        <img src="{% static 'annotate/images/Pasted-image-20231113161502.png' %}"
                             alt="Tasks"
                             width="600">
                        <br>
                        <br>
                        <p>此外，每一項任務中，包含了我事先篩選不同病人的超音波心動圖，每一項任務的說明如下：</p>
                        <ul>
                            <li>task1：事先利用 Echocardiography view 分類器，批量分類得到的心尖二腔室影像（Apical two chamber view）</li>
                            <li>task2：事先利用 Echocardiography view 分類器，批量分類得到的心尖三腔室影像（Apical three chamber view）</li>
                            <li>task3：事先利用 Echocardiography view 分類器，批量分類得到的心尖四腔室影像（Apical four chamber view）</li>
                        </ul>
                    </ol>
                    <ol start="2">
                        <li>按下 「Open」後即可開始進行影像標記。</li>
                        <br>
                        <br>
                        <img src="{% static 'annotate/images/Pasted-image-20231113163805.png' %}"
                             alt="開始標記"
                             width="600">
                    </ol>

				</div>
            </div>
        </div>
    </body>
</div>
</div>
<br>
{% endblock content %}

