<!-- index.html -->
{% extends 'base.html' %}
{% block title %}
    Tutorial
{% endblock title %}
{% block content %}
    {% load static %}

    <link rel="stylesheet"
          href="{% static 'annotate/css/tutorial.css' %}"
          type="text/css"
          media="all">

    <body>
        <div class="container">
            <div class="row justify-content-center">
				<div class="col-8">
					<h1 id="key-points" class="anchor">Key Points</h1>
					<!-- <p>以下具體說明自動計算與手動設定 Key point 的差別：</p> -->
					<ul>
						<li><a href="#key-points-intro">介紹</a></li>
						<li><a href="#key-points-auto">自動計算 Key points</a></li>
						<li><a href="#key-points-manual">手動標記 Key points</a></li>
					</ul>



					<h2 id="key-points-intro" class="anchor">介紹</h2>
					<p>Key Points 對於標記左心房心肌來說相當重要，因為Key points 的位置不正確將會無法順利進行標記。下圖為同一張影像根據不同 Key points 位置所標記的左心房心肌的示意圖。</p>

                    <table>
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                    <img src="{% static 'annotate/images/Pasted-image-20231123184827.png' %}"
                                         alt=""
                                         width="400">
                                </th>
                                <th style="text-align:center">
                                    <img src="{% static 'annotate/images/Pasted-image-20231123184835.png' %}"
                                         alt=""
                                         width="400">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center">Picture 1</td>
                                <td style="text-align:center">Picture 2</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 id="key-points-auto" class="anchor">自動計算 Key points</h2>
                    <p>然而為了標記的方便性，程式的預設上是標記完左心室與左心房後，會自動計算 Key points 的位置，這也是為什麼前面提到必須要標記左心房與左心室的原因。</p>
                    <p>而自動計算 Key points 的方法主要是計算左心室與左心房polygons上每一點彼此之間的距離，當距離小於 2 時，將左心房上的點視為 key points 的候選點（下圖中紅色的點即為候選點）。</p>
                    <p>
                        <img src="{% static 'annotate/images/Pasted-image-20231123191956.png' %}"
                             alt=""
                             width="400">
                    </p>
                    <p>
                        計算完後進一步計算 x 軸最左與最右的候選點，將其視為 key point1 與 key point2。
                        <br>
                        <br>
                        <img src="{% static 'annotate/images/Pasted-image-20231123192304.png' %}"
                             alt=""
                             width="400">
                    </p>
                    <p>
                        P.S. 然而在一些情況下，特別是手動標記左心房與左心室時，往往無法透過自動計算找到 Key points，而這時如果再使用 EqualLAM 與 Snake LAM，會跳出錯誤訊息提醒使用者無法找到 Key points，這個時候可能就必須修改左心房與左心室的標記點，不然就是手動標記 Key points。
                    </p>
                    <p>
                        <br>
                        <img src="{% static 'annotate/images/Pasted-image-20231123193145.png' %}"
                             alt=""
                             width="600">
                    </p>
                    <h2 id="key-points-manual">手動標記 Key points</h2>
                    <p>
                        手動標記的功能，主要解決了前述提到無法透過自動計算找到 Key points 的問題，同時也針對自動計算找到 Key points 不夠準確的問題提供了解決方案，進而有效地改善對左心房心肌的標記效果。下圖中說明因為自動計算找到 Key points 不夠準確，導致左心房心肌標記了額外的部分。
                    </p>
                    <p>
                        <br>
                        <img src="{% static 'annotate/images/Pasted-image-20231123194218.png' %}"
                             alt=""
                             width="600">
                    </p>
                    <p>手動標記 Key points 的操作如下：</p>
                    <ol>
                        <li>
                            在左邊工具列中選擇 <strong>Add Key point</strong>。
                            <br>
                            <br>
                            <img src="{% static 'annotate/images/Pasted-image-20231123200414.png' %}"
							
                                 alt=""
                                 width="600">
                            <br>
                            <br>
                        </li>
                        <li>
                            接著按下滑鼠左鍵標記 <strong>Key point 1</strong> 與  <strong>Key point 2</strong> ，而程式的設定為第一個點為 Key point 1 （紅色標記點），第二個點為  Key point 2 （綠色標記點）。
                            <br>
                            <br>
                            <img src="{% static 'annotate/images/Pasted-image-20231123201128.png' %}"
                                 alt=""
                                 width="600">
                            <br>
                            <br>
                        </li>
                        <li>
                            透過手動標記 Key points，最後再應用 EqualLAM 後，明顯改善了對左心房心肌的標記，與第一步驟相比取得了顯著改善。
                            <br>
                            <br>
                            <img src="{% static 'annotate/images/Pasted-image-20231123201539.png' %}"
                                 alt=""
                                 width="600">
                            <br>
                            <br>
                        </li>
                    </ol>
                    <h3 id="-">完整操作</h3>
                    <p>
                        <br>
                        <br>
                        <img src="{% static 'annotate/images/video2023-11-23pm8.05.55.gif' %}"
                             alt=""
                             width="600">
                        <br>
                        <br>
                    </p>

				</div>
            </div>
        </div>
    </body>
</div>
</div>
<br>
{% endblock content %}

