p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
	margin: 0.4rem;
}

select[disabled] ,input[type='checkbox'][disabled] ,button[disabled] {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

.trash-button {
	background-color: #fff; /* 按钮背景颜色 */
	color: #000; /* 按钮文字颜色 */
	border-radius: 4px; /* 按钮圆角 */
	/* padding: 5px 5px; /1* 按钮内边距 *1/ */
	/* border: none; /1* 去掉按钮边框 *1/ */
	cursor: pointer; /* 鼠标光标样式 */
	height: 30;
	width: 30;
}

.trash-button:hover {
	background-color: #000;
	color: #fff;
}

.trash-button:disabled {
	background-color: #ccc;
	color: #888;
	cursor: not-allowed;
}


.button-function {
  appearance: none;
  background-color: transparent;
  border: 2.5px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1A1A1A;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  margin: 3px;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-function:disabled {
  pointer-events: none;
}

.button-function:hover {
  color: #010101;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.25) 0 6px 10px;
  transform: translateY(-1px);
}

.button-function:active {
  box-shadow: none;
  transform: translateY(0);
}

