{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <link rel="stylesheet"
          href="{% static 'annotate/css/login.css' %}"
          type="text/css"
          media="all">
    <body>
        <div class="container login_container">
            <div class="card mt-5 " style="width: 15rem;">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form class="form" role="form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
{% endblock %}
